<tr>
    <td>
        <f:link.action action="list" arguments="{path: folder.identifier}">
            <img src="{f:uri.resource(path:'Icons/Folders/folder.png')}" alt="{folder.name}" />
        </f:link.action>
        <f:link.action action="list" arguments="{path: folder.identifier}">{folder.name}</f:link.action>
    </td>
    <td>
        <f:switch expression="{folder.files -> f:count()}">
            <f:case value="0">
                <f:translate key="directory_size.no_files" />
            </f:case>
            <f:case value="1">
                {folder.files -> f:count()} <f:translate key="directory_size.one_file" />
            </f:case>
            <f:case default="true">
                {folder.files -> f:count()} <f:translate key="directory_size.multiple_files" />
            </f:case>
        </f:switch>
    </td>
    <td></td>
</tr>