<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <f:for each="{breadcrumb}" as="item">
            <f:if condition="{item.state}">
                <f:then>
                    <li class="breadcrumb-item active">
                        <f:if condition="{item.isRoot}">
                            <f:then><f:translate key="breadcrumb.home"/></f:then>
                            <f:else>{item.folder.name}</f:else>
                        </f:if>
                    </li>
                </f:then>
                <f:else>
                    <li class="breadcrumb-item">
                        <f:link.action action="list" arguments="{path: item.folder.identifier}">
                            <f:if condition="{item.isRoot}">
                                <f:then><f:translate key="breadcrumb.home"/></f:then>
                                <f:else>{item.folder.name}</f:else>
                            </f:if>
                        </f:link.action>
                    </li>
                </f:else>
            </f:if>
        </f:for>
    </ol>
</nav>

</html>
