<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:fl="http://typo3.org/ns/Causal/FileList/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="media">
    <div class="media-left">
        <f:link.page pageUid="{file.publicUrl}">
            <fl:thumbnail image="{file}" width="128c" height="128c" default="{f:uri.resource(path:'Icons/Files/blank_thumbnail.png')}" />
        </f:link.page>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <f:link.page pageUid="{file.publicUrl}">
                <f:if condition="{file.properties.title}">
                    <f:then>{file.properties.title}</f:then>
                    <f:else>{file.name}</f:else>
                </f:if>
            </f:link.page>
            <f:if condition="{file.properties.tx_filelist.isNew}">
                <span class="label label-default"><f:translate key="newFile" /></span>
            </f:if>
        </h4>

        <p>{file.properties.description}</p>

        <p>
            <small>
                {file.properties.size -> f:format.bytes()} |
                <f:format.date format="{settings.dateFormat}">@{file.properties.modification_date}</f:format.date>
            </small>
        </p>
    </div>
</div>

</html>
