<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:fl="http://typo3.org/ns/Causal/FileList/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{file.properties.content_creation_date}">
    <f:then><f:variable name="file_creation_date" value="{file.properties.content_creation_date}" /></f:then>
    <f:else><f:variable name="file_creation_date" value="{file.properties.creation_date}" /></f:else>
</f:if>
<f:if condition="{file.properties.content_modification_date}">
    <f:then><f:variable name="file_modification_date" value="{file.properties.content_modification_date}" /></f:then>
    <f:else><f:variable name="file_modification_date" value="{file.properties.modification_date}" /></f:else>
</f:if>

<div class="media">
    <div class="media-left">
         <f:link.typolink parameter="{file.publicUrl}" target="_blank">
            <fl:thumbnail image="{file}" width="128c" height="128c" default="{f:uri.resource(path:'Icons/Files/blank_thumbnail.png')}" />
        </f:link.typolink>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
             <f:link.typolink parameter="{file.publicUrl}" target="_blank">
                <f:if condition="{file.properties.title}">
                    <f:then>{file.properties.title}</f:then>
                    <f:else>{file.name}</f:else>
                </f:if>
            </f:link.typolink>
            <f:if condition="{settings.newDuration && file_creation_date >= newTimestamp}">
                <span class="label label-default badge badge-secondary"><f:translate key="newFile" /></span>
            </f:if>
        </h4>

        <p>{file.properties.description}</p>

        <p>
            <small>
                {file.properties.size -> f:format.bytes()} |
                <f:format.date format="{settings.dateFormat}">@{file_modification_date}</f:format.date>
            </small>
        </p>
    </div>
</div>

</html>
