<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="media">
    <div class="media-left">
        <f:link.action action="list" arguments="{path: folder.identifier}">
            <img src="{f:uri.resource(path:'Icons/Folders/move_up_thumbnail.png')}" />
        </f:link.action>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <f:link.action action="list" arguments="{path: folder.identifier}">..</f:link.action>
        </h4>
    </div>
</div>

</html>
