<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="media">
    <div class="media-left">
        <f:link.action action="list" arguments="{path: folder.properties.identifier}">
            <img src="{f:uri.resource(path:'Icons/Folders/move_up_thumbnail.png')}" />
        </f:link.action>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <f:if condition="{folder.properties.identifier}=='/'">
                <f:then>
                    <f:link.page>..</f:link.page>
                </f:then>
                <f:else>
                    <f:link.action action="list" arguments="{path: folder.properties.identifier}">..</f:link.action>
                </f:else>
            </f:if>
        </h4>
    </div>
</div>

</html>
