
<!-- ###TEMPLATE_DEFAULT### [start] -->
<table class="###TABLE_CLASS###">
	<thead>
		<tr>
			<th class="###ICON_CLASS###">&nbsp;</th>
			<th class="###FILENAME_CLASS###">###HEADER_FILENAME###</th>
			<th class="###INFO_CLASS###">###HEADER_INFO###</th>
			<th class="###DATE_CLASS###">###HEADER_DATE###</th>
		</tr>
	</thead>
	<tbody>
		<!-- ###BODY### [start] -->

		<!-- ###ODD_TEMPLATE### [start] -->
		<tr class="###ODD_CLASS###">
			<td class="###ICON_CLASS###">###ICON###</td>
			<td class="###FILENAME_CLASS###">###FILENAME###&nbsp;
				<span class="###NEWFILE_CLASS###">###NEWFILE###</span>
			</td>
			<td class="###INFO_CLASS###">###INFO###</td>
			<td class="###DATE_CLASS###">###DATE###</td>
		</tr>
		<!-- ###ODD_TEMPLATE### [end] -->
	
		<!-- ###EVEN_TEMPLATE### [start] -->
		<tr class="###EVEN_CLASS###">
			<td class="###ICON_CLASS###">###ICON###</td>
			<td class="###FILENAME_CLASS###">###FILENAME###&nbsp;
				<span class="###NEWFILE_CLASS###">###NEWFILE###</span>
			</td>
			<td class="###INFO_CLASS###">###INFO###</td>
			<td class="###DATE_CLASS###">###DATE###</td>
		</tr>
		<!-- ###EVEN_TEMPLATE### [end] -->
		
		<!-- ###BODY### [end] -->
	</tbody>
</table>
<!-- ###TEMPLATE_DEFAULT### [end] -->